<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="rekeningKorans" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['namaRekeningKoran','created']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedRekeningKorans" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Rekening Korans</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="namaRekeningKoran">Nama Rekening Koran <p-sortIcon field="namaRekeningKoran"></p-sortIcon></th>
                        <th pSortableColumn="created">CreatedDate <p-sortIcon field="created"></p-sortIcon></th>
                        <th pSortableColumn="updated">UpdatedDate <p-sortIcon field="updated"></p-sortIcon></th>
                        <th pSortableColumn="createdBy">CreatedBy <p-sortIcon field="createdBy"></p-sortIcon></th>
                        <th pSortableColumn="updatedBy">UpdatedBy <p-sortIcon field="updatedBy"></p-sortIcon></th>
                        <th pSortableColumn="done">Selesai <p-sortIcon field="done"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rekeningKoran>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rekeningKoran"></p-tableCheckbox>
                        </td>
                        <td>{{ rekeningKoran.id }}</td>
                        <td>{{ rekeningKoran.namaRekeningKoran }}</td>
                        <td>{{ rekeningKoran.created }}</td>
                        <td>{{ rekeningKoran.updated }}</td>
                        <td>{{ rekeningKoran.createdBy }}</td>
                        <td>{{ rekeningKoran.updatedBy }}</td>
                        <td>{{ rekeningKoran.done }}</td>

                        <td>
                            <div class="flex">
                                <button pButton type="button" label="View" (click)="navigateToDetails(rekeningKoran.id)"></button>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="askUpdateRekeningKoran(rekeningKoran)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="askDeleteRekeningKoran(rekeningKoran)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


            <!-- Popup modal for adding data -->
            <p-dialog [(visible)]="rekeningKoranDialog" [style]="{width: '450px'}" header="Add Rekening Koran" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    <!-- Add form fields here for adding new data -->
                    <div class="field">
                        <label for="namaRekeningKoran">Nama Rekening Koran</label>
                        <input type="text" pInputText id="namaRekeningKoran" [(ngModel)]="rekeningKoranPost.namaRekeningKoran" required autofocus />
                    </div>
                    <!-- Add more fields as needed -->

                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRip
                    ple label="Save" icon="pi pi-check" class="p-button-text" (click)="createRekeningKoran()"></button>
                </ng-template>
            </p-dialog>




            <!-- Pop modal for delete data -->
            <p-dialog [(visible)]="deleteRekeningKoranDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="rekeningKoran">Are you sure you want to delete <b>{{rekeningKoran.namaRekeningKoran}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="askDeleteRekeningKoran = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="deleteRekeningKoran()"></button>
                </ng-template>
            </p-dialog>


            <!-- Pop modal for update data -->
            <p-dialog [(visible)]="editRekeningKoranDialog" [style]="{width: '450px'}" header="Edit Rekening Koran" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                 
                    <div class="field">
                        <label for="name">Name Rekening Koran</label>  
                        <input type="text" pInputText id="name" [(ngModel)]="rekeningKoranPost.namaRekeningKoran" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                        <!-- <small class="ng-dirty ng-invalid" *ngIf="submitted && !rekeningKoranPost.namaRekeningKoran">Nama Rekening Koran is required.</small> -->
                    </div>
                
                </ng-template>

                

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="askUpdateRekeningKoran = false"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateRekeningKoran()"></button>
                </ng-template>
    
                

            </p-dialog>



    
            <!-- Pop modal for delete data -->
            <p-dialog [(visible)]="deleteRekeningKoransDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Are you sure you want to delete selected products?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>




        </div>
        
    </div>
</div>
